version: "3.7"

volumes:
  api_images:

services:

  api:
    build:
      context: .
    image: nestjs-boilerplate/api
    container_name: nestjs-boilerplate_api
    ports:
      - ${API_PORT:-3000}:3000
    depends_on:
      - postgres
    volumes:
      - api_images:/usr/src/app/storage
    environment:
      - PORT=3000
      - RDB_HOST=postgres
      - RDB_PORT=5432
      - RDB_DB=nestjs-boilerplate
      - RDB_USER=nestjs-boilerplate
      - RDB_PASS=nestjs-boilerplate
