name: "[MANUAL] - nestjs-postgres-boilerplate Backend - Build and deploy"

on:
  workflow_dispatch:
    # Inputs the workflow accepts.
    inputs:
      Heroku_app:
        description: 'Choose the app where to deploy'
        # Default value if no value is explicitly provided
        default: 'nestjs-postgres-boilerplate-backend'
        # Input has to be provided for the workflow to run
        required: true
env:
  HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
  APP_NAME: ${{ github.event.inputs.Heroku_app }}
  
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      - name: Build docker image
        run: |
            docker login --username=_ --password=$HEROKU_API_KEY registry.heroku.com
            docker build -f Dockerfile . -t $APP_NAME
            docker tag $APP_NAME registry.heroku.com/$APP_NAME/web
      
      - name: Push image to Heroku registry
        run: docker push registry.heroku.com/$APP_NAME/web
        
      - name: Deploy to heroku app
        run: heroku container:release web -a $APP_NAME
